.form {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 430px;
    height: 322px;
    border: 1px;
    margin: 0px 200px 0px;
}

.formclose:hover {
    transition: 0.2s;
    cursor: pointer;
    opacity: 60%;
}

.formclose {
    color: #fff;
    background-color: #000000;
    border: 0px solid #000000;
    width: 26px;
    height: 26px;
    font-size: 26px;
    margin-left: 400px;    
}

.formcontainer {
    display:flex;
    flex-direction: column;
    width: 430px;
    height: 430px;
    border: 1px solid #000000;
    background: #fff;
    color: #000000;
    border-radius: 5px;
}

.formtitle{
    margin: 34px auto 54px 36px;
    width: 330px;
    height: 23px;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    text-align: left;
}

.formnameInput{
    margin: 0px auto 54px 36px;
    width: 358px;
    height: 27.26px;
    border: 0px;
    border-bottom: 1px solid #545454;
    Opacity:20%;
}

.formjobInput {
    margin: 0px auto 54px 36px;
    width: 358px;
    height: 27.26px;
    border: 0px;
    border-bottom: 1px solid #545454;
    Opacity:20%;
}

.formsubmit {
    display: flex;
    width: 250px;
    height: 50px;
    border-radius: 2px;
    margin: 0px auto 36px;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

@media screen and (max-width: 880px) {
   .form {
    margin: 0px 150px 0px;
   }
}

@media screen and (max-width: 720px) {
   .form{
    margin: 0px 100px 0px;
   }
}

@media  screen and (max-width: 660px) {
    .form{
        margin: auto;
        
    }
}

@media  screen and (max-width: 520px) {
    .form{
        margin: auto;
    }
    .formclose {
        margin: auto 300px auto;
    }

    .formcontainer {
        width: 330px;
        height: 322px;

    }
    .formnameInput{
        width: 280px;
        height: 26px;
        margin: auto 22px 30px;
    }
    .formjobInput {
        width: 280px;
        height: 26px;
        margin: auto 22px 46px;
    }
    .formsubmit {
        width: 238px;
        height: 46px;
    }
    
}

@media screen and (max-width: 375px) {
    .form {
        margin: auto 20px;
    }
    .formclose {
        margin: auto 250px auto;
    }

    .formcontainer {
        width: 282px;
        height: 322px;

    }
    .formnameInput{
        width: 238px;
        height: 26px;
        margin: auto 22px 30px;
    }
    .formjobInput {
        width: 238px;
        height: 26px;
        margin: auto 22px 46px;
    }
    .formsubmit {
        width: 238px;
        height: 46px;
    }
}
